@keyframes twister {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    transform: rotate(-12deg);
    font-size: .1em; } }
#expirez {
  animation: twister 1s 0s;
  color: #0080df;
  font-size: 7em;
  padding: 5%;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: +9; }

div h3 {
  color: #0080df;
  font-weight: 700;
  font-size: 1.4em; }
div h4 {
  font-weight: 500;
  font-size: 1.2em; }
div h4::before {
  content: "\002B "; }

.user-status {
  border-radius: 10px;
  border: 2px solid transparent;
  color: #000;
  display: inline-block;
  height: 30px;
  margin: 10px;
  text-align: center;
  width: 100px; }
  .user-status select {
    display: block;
    font-size: .9em;
    height: 20px;
    margin: 0px auto; }

.member-hotdesk {
  background: #ef5b0a;
  color: #fcf7e4; }

.member-dedicated {
  background: #22201e;
  color: #fcf7e4; }

.member-parttime {
  background: #c4ed76;
  color: #000; }

.member-office {
  background: #081cdc;
  color: #fcf7e4; }

.member-guest {
  background: #efc70a;
  color: #000; }

.member-staff {
  background: #cccccc;
  color: #fcf7e4; }

.member-event {
  background: #f549b6;
  color: #fcf7e4; }

.member-banned {
  background: #cc0000;
  color: #fcf7e4; }

.border-hotdesk {
  border-color: #ef5b0a; }

.border-dedicated {
  border-color: #22201e; }

.border-parttime {
  border-color: #c4ed76; }

.border-office {
  border-color: #081cdc; }

.border-guest {
  border-color: #efc70a; }

.border-staff {
  border-color: #cccccc; }

.border-event {
  border-color: #f549b6; }

.border-banned {
  border-color: #cc0000; }

#all-users div {
  display: flex;
  flex-direction: row; }
  #all-users div ul {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.25em; }

#user-selectr {
  display: flex;
  flex-direction: row; }
  #user-selectr button {
    flex-grow: 1; }

.user-status {
  border-width: 2px;
  border-style: dashed;
  padding: 5px 0px 20px;
  margin: 5px; }

.user-status:hover {
  cursor: pointer; }

button.fndry {
  border: 2px solid #000;
  margin: 20px; }

#time-editor,
#truncate-log,
#cancel-truncate-log {
  background: #0080df;
  border-color: #0080df #006679 #006679;
  box-shadow: 0 1px 0 #006679;
  color: #fcf7e4;
  margin: 20px;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006679, 1px 0 1px #006679, 0 1px 1px #006679, -1px 0 1px #006679; }

#time-editor:hover,
#truncate-log:hover,
#cancel-truncate-log:hover {
  cursor: pointer; }

#truncate-log {
  display: none;
  position: absolute;
  right: 55%;
  top: 0px; }

#cancel-truncate-log {
  display: none;
  position: absolute;
  right: 45%;
  top: 0px; }

.edit-user {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  color: #000;
  display: block;
  font-size: .8em;
  text-align: center;
  margin: 2px auto; }

.edit-user:hover {
  cursor: pointer; }

.lb-wrap {
  background: rgba(255, 255, 255, 0.15);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999; }

.lb-dialog {
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
  font-size: 14px;
  margin: 1% auto;
  max-height: 700px;
  min-height: 50%;
  min-width: 300px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 50%; }

#setup-wrap article {
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 10px; }

#room-editor li {
  background: #000;
  color: #fcf7e4;
  display: inline-block;
  margin-left: 40px; }
  #room-editor li input[type='button'] {
    color: #cc0000;
    font-weight: 300;
    height: 22px;
    margin-left: 10px;
    padding: 0;
    width: 15px; }
#room-editor li:hover {
  cursor: pointer; }
  #room-editor li:hover input[type='button']:hover {
    background: #ef5b0a;
    cursor: pointer; }

.roomstats {
  text-align: left; }
  .roomstats td {
    padding: 10px; }

.room-deletr {
  color: #cc0000;
  font-weight: 800;
  padding: 0; }

.no {
  color: #081cdc;
  font-weight: 800;
  padding: 0 30px; }

.room-deletr:hover,
.no:hover {
  cursor: pointer; }

.fndry-cancel {
  color: #cc0000; }

.time-cancel {
  border: #cc0000 1px solid !important;
  background: #000;
  height: 28px !important;
  line-height: 10px !important;
  padding: 5px !important; }

.room-start {
  background: rgba(255, 255, 255, 0.15);
  color: #0080df;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center; }

.newuser {
  background: rgba(0, 0, 0, 0.8); }

.sameuser {
  background: rgba(34, 34, 34, 0.9); }

/*# sourceMappingURL=foundery-style-adm.css.map */
