/*
Plugin name: Foundery Co-Work Booking System
Plugin URI: http://www.websolutions.to
Description: Co-work Space Room Booking System created for the FOUNDERY Toronto (RIP).
Author: Nick Andrews Toronto 
Tags: Co-working Shared Reservation System, Wordpress plugin
*/
#fndry_launcher {
  position: fixed;
  right: 20px;
  top: 48%;
  width: 36px;
  height: 36px;
  background: transparent;
  color: #0080df;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  transition: all 1s;
  z-index: +10; }

.fndry-open {
  color: #cc0000 !important;
  right: 30px !important;
  top: 40px !important; }

.fndry-open::before {
  content: "\229B" !important; }

#fndry_launcher:hover,
#fndry_launcher:focus {
  color: #adf4ff;
  cursor: pointer; }

#fndry_launcher::before {
  content: "\2296"; }

#fndry-booking {
  background: #0080df;
  display: none;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: +9; }
  #fndry-booking .week-wrap {
    margin-top: 40px; }
    #fndry-booking .week-wrap .room-select-wrap {
      text-align: center; }
    #fndry-booking .week-wrap a {
      position: relative;
      z-index: +1; }
    #fndry-booking .week-wrap .room-selector {
      background: #adf4ff;
      border: 1px solid #82cfcf;
      border-radius: 1%;
      color: #82cfcf;
      display: inline-block;
      margin: 1%;
      min-width: 10%;
      padding: 0.5%;
      text-align: center; }
      #fndry-booking .week-wrap .room-selector .room-desc {
        display: none;
        font-size: .8em; }
        #fndry-booking .week-wrap .room-selector .room-desc span {
          display: block;
          font-size: .75em; }
    #fndry-booking .week-wrap .room-selector:hover {
      cursor: pointer; }
    #fndry-booking .week-wrap .activeroom {
      background: #000;
      border-color: #ee9900;
      color: #adf4ff;
      transition: all 1s; }
      #fndry-booking .week-wrap .activeroom .room-desc {
        display: block; }
    #fndry-booking .week-wrap .week-select-wrap {
      text-align: center; }
      #fndry-booking .week-wrap .week-select-wrap .week-selector {
        background: #adf4ff;
        border-radius: 4px;
        color: #82cfcf;
        display: inline-flex;
        height: 5%;
        margin: 1%;
        padding: 1%;
        text-align: center; }
      #fndry-booking .week-wrap .week-select-wrap .week-selector:hover {
        cursor: pointer; }
      #fndry-booking .week-wrap .week-select-wrap .activeweek {
        background: #000;
        border-color: #ee9900;
        color: #adf4ff;
        transition: all 1s; }
    #fndry-booking .week-wrap .hotday {
      background: #ee9900;
      transition: all 1s; }
      #fndry-booking .week-wrap .hotday .day-title {
        color: #000; }
    #fndry-booking .week-wrap .day-title {
      color: #0080df;
      padding: 5px; }
    #fndry-booking .week-wrap .day-title:hover {
      cursor: pointer; }
    #fndry-booking .week-wrap .hundred-wrap {
      height: 24px;
      margin: 0 10px;
      padding: 0;
      position: absolute;
      top: 5px;
      width: 10px; }
      #fndry-booking .week-wrap .hundred-wrap .mytotals {
        background: #ee9900;
        border-radius: 0 20px 0 0;
        bottom: 0;
        left: 0;
        max-height: 100%;
        position: absolute;
        transition: all 1s;
        width: 100%; }
  #fndry-booking .weekday {
    background: #adf4ff;
    border: 1px transparent solid;
    flex-direction: row;
    flex-grow: 1;
    float: left;
    height: auto;
    position: relative;
    text-align: center;
    width: 14.25%; }
    #fndry-booking .weekday .toggler {
      display: none; }
      #fndry-booking .weekday .toggler .hourwrap {
        height: 80px;
        margin: 0;
        overflow: hidden;
        position: relative;
        /* Safari 4.0 - 8.0 */
        /* Standard syntax */ }
@-webkit-keyframes comingx {
  10% {
    background-image: linear-gradient(to right, #ee9900 0%, rgba(255, 255, 255, 0.15) 0%); }
  50% {
    background-image: linear-gradient(to right, #ee9900 40%, rgba(255, 255, 255, 0.15) 60%); }
  80% {
    background-image: linear-gradient(to right, #ee9900 60%, rgba(255, 255, 255, 0.15) 40%); }
  100% {
    background-image: linear-gradient(to right, #ee9900 90%, rgba(255, 255, 255, 0.15) 0%); } }
@keyframes comingx {
  10% {
    background-image: linear-gradient(to right, #ee9900 0%, rgba(255, 255, 255, 0.15) 0%); }
  50% {
    background-image: linear-gradient(to right, #ee9900 40%, rgba(255, 255, 255, 0.15) 60%); }
  80% {
    background-image: linear-gradient(to right, #ee9900 60%, rgba(255, 255, 255, 0.15) 40%); }
  100% {
    background-image: linear-gradient(to right, #ee9900 90%, rgba(255, 255, 255, 0.15) 0%); } }
        #fndry-booking .weekday .toggler .hourwrap .pending {
          animation: comingx infinite .5s; }
      #fndry-booking .weekday .toggler .passe {
        display: none; }
  #fndry-booking .weekday:hover {
    border: 1px rgba(0, 0, 0, 0.8) solid; }
  #fndry-booking .hourwrap div .book-icon {
    border: 2px transparent solid;
    display: inline-block;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px; }
  #fndry-booking .hourwrap div .book-icon:hover {
    background-position: -5px -28px; }
  #fndry-booking .hourwrap div .xloser {
    background-image: url("img/book.svg");
    background-position: -26px -2px;
    background-repeat: no-repeat;
    border: 0 transparent solid;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 25px; }
  #fndry-booking .hourwrap div .xloser:hover {
    background-position: -26px -26px; }
  #fndry-booking .segment-30 .toggler .hourwrap {
    border: 1px #0080df solid;
    border-radius: 1px;
    height: 80px;
    margin: 0;
    overflow: hidden;
    position: relative; }
    #fndry-booking .segment-30 .toggler .hourwrap .hour-segment {
      width: 100% !important; }
      #fndry-booking .segment-30 .toggler .hourwrap .hour-segment .booked-by {
        width: 66%; }
      #fndry-booking .segment-30 .toggler .hourwrap .hour-segment .book-icon {
        border: 2px transparent solid;
        display: inline-block;
        height: 30px;
        padding: 0;
        position: absolute;
        top: 10px;
        width: 30px; }
      #fndry-booking .segment-30 .toggler .hourwrap .hour-segment .book-icon:hover {
        background-position: -4px -3px; }
      #fndry-booking .segment-30 .toggler .hourwrap .hour-segment .xloser {
        left: 65% !important; }
    #fndry-booking .segment-30 .toggler .hourwrap .hour-segment:first-of-type {
      height: 49%;
      width: 49%;
      position: absolute;
      top: 0px;
      left: 0px; }
    #fndry-booking .segment-30 .toggler .hourwrap .hour-segment:nth-of-type(2) {
      height: 49%;
      width: 49%;
      position: absolute;
      bottom: 0px;
      left: 0px; }
  #fndry-booking .segment-15 .toggler .hourwrap {
    border: 1px #0080df solid;
    border-radius: 1px;
    height: 80px;
    margin: 0;
    overflow: hidden;
    position: relative; }
    #fndry-booking .segment-15 .toggler .hourwrap .hour-segment {
      width: 50% !important; }
      #fndry-booking .segment-15 .toggler .hourwrap .hour-segment .booked-by {
        width: 70%; }
      #fndry-booking .segment-15 .toggler .hourwrap .hour-segment .book-icon {
        border: 2px transparent solid;
        display: inline-block;
        height: 30px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 0px;
        width: 30px; }
      #fndry-booking .segment-15 .toggler .hourwrap .hour-segment .book-icon:hover {
        background-position: -5px -28px; }
      #fndry-booking .segment-15 .toggler .hourwrap .hour-segment .xloser {
        left: 70% !important; }
    #fndry-booking .segment-15 .toggler .hourwrap .hour-segment:first-of-type {
      height: 49%;
      width: 49%;
      position: absolute;
      top: 0px;
      left: 0px; }
    #fndry-booking .segment-15 .toggler .hourwrap .hour-segment:nth-of-type(2) {
      height: 49%;
      width: 49%;
      position: absolute;
      top: 0px;
      right: 0px; }
    #fndry-booking .segment-15 .toggler .hourwrap .hour-segment:nth-of-type(3) {
      height: 49%;
      width: 49%;
      position: absolute;
      bottom: 0px;
      left: 0px; }
    #fndry-booking .segment-15 .toggler .hourwrap .hour-segment:nth-of-type(4) {
      height: 49%;
      right: 0px;
      position: absolute;
      bottom: 0px;
      width: 49%; }
  #fndry-booking .hourwrap div .xloser {
    background-image: url("img/book.svg");
    background-position: -26px -2px;
    background-repeat: no-repeat;
    border: 0 transparent solid;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 25px; }
  #fndry-booking .hourwrap div .xloser:hover {
    background-position: -26px -26px; }
  #fndry-booking .hourwrap div {
    position: relative; }
    #fndry-booking .hourwrap div .booked-by {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 9px 0;
      color: #adf4ff;
      display: block;
      font-size: 1em;
      left: 0;
      position: absolute;
      top: 1px;
      transform: rotate(-4deg);
      width: 66%; }
    #fndry-booking .hourwrap div .book-icon,
    #fndry-booking .hourwrap div .cancel-icon,
    #fndry-booking .hourwrap div .occupy-icon,
    #fndry-booking .hourwrap div .top-hour,
    #fndry-booking .hourwrap div .quart-hour,
    #fndry-booking .hourwrap div .half-hour,
    #fndry-booking .hourwrap div .end-hour,
    #fndry-booking .hourwrap div .xloser {
      background: transparent;
      background-image: url("img/book.svg");
      background-repeat: no-repeat;
      display: inline-block;
      padding: 0; }
    #fndry-booking .hourwrap div .xloser {
      background-position: -31px -4px;
      background-size: 60px 60px;
      height: 30x;
      position: absolute;
      right: 10px;
      top: 0px;
      width: 30px; }
    #fndry-booking .hourwrap div .xloser:hover {
      background-position: -30px -34px;
      cursor: pointer; }
    #fndry-booking .hourwrap div .book-icon {
      background: transparent;
      background-image: url("img/book.svg");
      background-position: -4px -30px;
      background-size: 60px 60px;
      height: 30px;
      position: absolute;
      left: 1%;
      top: 1%;
      width: 30px; }
    #fndry-booking .hourwrap div .book-icon:hover {
      background-position: -4px -1px;
      cursor: pointer; }
  #fndry-booking .hourwrap .book-segment {
    background: transparent;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: inline-block;
    font-size: .9em;
    margin-left: 20px;
    position: relative;
    transition: all 3s;
    width: 90% !important; }
  #fndry-booking .hourwrap .tophour {
    color: #0080df;
    font-weight: 600; }
  #fndry-booking .hourwrap .over {
    text-decoration: line-through; }

#lightbox_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0080df;
  z-index: +9; }
  #lightbox_wrap #lb_dialog {
    background: #000;
    color: #adf4ff;
    width: 50%;
    height: 50%;
    margin: 0 auto; }
    #lightbox_wrap #lb_dialog h2 {
      color: #ee9900;
      font-size: 2em;
      text-align: center; }
    #lightbox_wrap #lb_dialog .user-msg-wrap {
      margin: 0px auto;
      width: 70%; }
    #lightbox_wrap #lb_dialog .xloser {
      color: #000;
      background: #adf4ff;
      padding: 10px;
      border-radius: 2px;
      width: 100px;
      text-align: center; }
    #lightbox_wrap #lb_dialog .xloser:hover,
    #lightbox_wrap #lb_dialog .xloser:focus {
      cursor: pointer;
      background: #0080df; }

@media only screen and (max-width: 520px) {
  #fndry_launcher {
    bottom: 45px !important; }

  #lightbox_wrap #lb_dialog {
    width: 80%;
    height: 100%; }

  .week-wrap {
    margin-top: 60px !important; } }
@media only screen and (max-width: 520px), (min-width: 500px) and (max-width: 1024px) {
  .weekday {
    flex-direction: column !important;
    width: 100% !important; }

  .hourwrap {
    width: 100%; }
    .hourwrap div {
      font-size: 1.4em;
      line-height: 1.5em;
      width: 100%; }
      .hourwrap div .book-icon {
        border: 0 transparent solid;
        height: 40px;
        position: absolute;
        right: 10%;
        top: 4%;
        width: 40px; }
      .hourwrap div .book-icon:hover {
        background-position: -7px -46px; }
      .hourwrap div .xloser {
        background-position: -53px -1px;
        background-size: 90px 90px;
        border: 0 transparent solid;
        height: 40px;
        position: absolute;
        right: 10%;
        top: 4%;
        width: 40px; } }

/*# sourceMappingURL=style.css.map */
